<%- include("./partials/header") %>
<div class="background">
<div class="container mt-5">
    <div class="cake"></div><span class="name">Bon Bon Bakery</span>
    <span class="text">The best quality cakes and pastries in Dhaka</span>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
</div>


</div>

<%- include("./partials/footer") %>